# Ignorar carpetas de logs
logs/
log/
**/logs/
**/log/
*.log
*.log.*

# Ignorar carpetas de reportes
report/
reports/
reporte/
reports-html/
allure-results/
build/reports/
target/reports/
target/surefire-reports/
target/failsafe-reports/
coverage/
coverage-reports/

# Ignorar archivos generados específicos (por si ya existen en el repo)
/reports/TestExecutionReport.html
/logs/test-execution.log

# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store